.footer {
  background-color: rgb(from var(--background) r g b / 0.75);
  border-top: 1px solid rgb(from var(--foreground) r g b / 0.1);
  padding: 16px;
  text-align: center;
  font-size: 14px;
  color: var(--foreground);
  opacity: 0.85;
  width: 100%;

  a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
